/* Desktop Layout */

.header-text p span#typer{
   font-size: 18px !important;
}
/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
.header-text {
   color: #fff;
   font-size: 60px;
   margin-top: 350px;
   text-align: center;
}
.header-text p span#typer{
   font-size: 18px !important;
}
.about-img img {
   width: 100%;
   padding-top: 30px;
   padding-bottom: 40px;
}
.itemHovernew {
  padding-top: 17%;
}
.contact-img img {
   margin-top: 0px;
   width: 100%;
}
.team-members{
	margin-bottom:15px;
}
}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
.navbar-toggle {
   background-color: black;
}
.navbar-toggle .icon-bar {
   background: #fff;
}
.navbar-brand > img {
   margin-top: 8px;
   width: 100%;
}
.home-header {
   background: linear-gradient( rgba(10, 25, 100, .9), rgba(10, 25, 100, .5));
   height: auto;
   padding-bottom: 80px;
}
.header-text p span#typer{
   font-family: 'Roboto', sans-serif;
   font-size: 18px !important;
   font-weight: 400;
   color: #fff;
   text-align:center;
   margin-bottom: 50px;
   display:block;
}
.navbar-inverse {
   background-color: #121111;
   border-color: #080808;
}
.about-img img {
   padding-top: 30px;
   padding-bottom: 40px;
   width: 100%;
}
.about-img .social-icon a i {
   margin-bottom: 15px;
}
.service-heading hr {
   padding-bottom: 30px;
}
.itemHovernew {
   padding-top: 22%;
}
.portfolio-heading hr {
   padding-bottom: 20px;
}
.about-heading hr {
   padding-bottom: 30px;
}
.contact-heading hr {
   padding-bottom: 40px;
}
.filter-button-wrapper {
   margin-bottom: 30px;
}
.filter-button-group ul li {
   background: none;
   color: #062033;
   display: inline;
   float: left;
   font-family: "Signika",sans-serif;
   font-size: 10px;
   font-weight: 600;
   margin-bottom: 7px;
   margin-right: 7px;
   padding: 10px 25px;
   transition: all 1s ease 0s;
}
.filter-button-group li.active {
   background: #5f73d5;
   color: #fff;
   font-size: 10px;
   font-family: 'Signika', sans-serif;
   font-weight: 400;
}
.team-members{
	margin-bottom:15px;
}
.contact-map .map {
   border: medium none;
   height: 300px;
   width: 100%;
}
.contact-map{
	margin-bottom:40px;
}
.footer-text .social-icon a {
  background: #5f73d5 none repeat scroll 0 0;
  border: 2px solid #5f73d5;
  color: #fff;
  font-size: 21px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 4px;
  transition: all 0.5s ease-in-out 0s;
}
.footer-text .social-icon a:hover{
	padding: 4px;
}
}

/* Wide Mobile Layout: */

@media only screen and (min-width: 480px) and (max-width: 767px) {
.navbar-toggle {
   background-color: black;
}
.navbar-toggle .icon-bar {
   background: #fff;
}
.navbar-brand > img {
   margin-top: 18px;
   width: 100%;
}
.navbar-inverse {
   background-color: #121111;
   border-color: #080808;
}
.home-header {
   height: auto;
   padding-bottom: 80px;
}
.header-text p span#typer{
   font-family: 'Roboto', sans-serif;
   font-size: 18px !important;
   font-weight: 400;
   color: #fff;
   text-align:center;
   margin-bottom: 50px;
   display:block;
}
.about-img img {
   padding-top: 30px;
   padding-bottom: 40px;
   width: 100%;
}
.service-heading hr {
   padding-bottom: 30px;
}
.portfolio-heading hr {
   padding-bottom: 20px;
}
.filter-button-group ul li {
   background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
   border: 1px solid #5f73d5;
   color: #444;
   display: inline-block;
   font-family: "Signika",sans-serif;
   font-size: 12px;
   font-weight: 400;
   padding: 10px 40px;
   transition: all 1s ease 0s;
}
.filter-button-group li.active {
   background: #5f73d5;
   color: #fff;
   font-size: 12px;
   font-family: 'Signika', sans-serif;
   font-weight: 400;
}
.team-members{
	margin-bottom:15px;
}
.about-heading hr {
   padding-bottom: 30px;
}
.contact-heading hr {
   padding-bottom: 40px;
}
.contact-map{
	margin-bottom:40px;
}
}