/*************************************

Template Name: Morsel - Personal/Agency Portfolio Template
Author: Theme_Choices
Version: 1.0
Design and Developed by: Theme_Choices

****************************************/

/*================================================
            Table of contents  
==================================================

1. PRELOADER
2. BACK TO TOP
3. HEADER SECTION
4. ABOUT SECTION
5. SERVICES SECTION
6. PORTFOLIO SECTION
7. TESTIMONIALS SECTION
8. TEAM SECTION
9. CONTACT SECTION
10. FOOTER SECTION

/*================================================
             1. PRELOADER
==================================================*/
#st-preloader {
     position: fixed;
     width: 100%;
     height: 100%;
     left: 0;
     top: 0;
     background-color: #516bec;
     z-index: 9999999;
}
#pre-status,
.preload-placeholder {
	 background-image: url(../images/preloader.gif);
	 background-position: center;
	 background-repeat: no-repeat;
	 height: 40px;
	 left: 50%;
	 margin: -20px 0 0 -20px;
	 position: absolute;
	 top: 50%;
	 width: 40px;
}

/*================================================
             2. BACK TO TOP
==================================================*/
.back-to-top {
      position: fixed;
      display: block;
      bottom: 2em;
      right: 1em;
      width: 3em;
      height: 3em;
      background: #5f73d5;
      line-height: 3em;
      z-index: 9999;
      color: #fff;
      text-align: center;
      border: 1px solid #fff;
      visibility: hidden;
	  font-size:20px;
}
.back-to-top:hover{
	  background:#fff;
	  transition:1s;
	  -webkit-transition: all 0.5s ease-in-out;
	  -moz-transition: all 0.5s ease-in-out;
	  border:1px solid #5f73d5;
}
.back-to-top--active {
      visibility: visible;
      -webkit-animation: back-to-top .3s ease-in;
      animation: back-to-top .3s ease-in;
}

/*================================================
             3. HEADER SECTION
==================================================*/
.home-header {
     background: linear-gradient( rgba(10, 25, 100, .9), rgba(10, 25, 100, .5)), url(../images/header-bg.jpg);
     height: 858px;
     background-size: cover;
	 background-position:center;
	 position:relative;
}
#particles-js {
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
}
.navbar {
     background: none;
     border: medium none;
     border-radius: 0;
     margin-bottom: 0;
     padding-bottom: 33px;
     padding-top: 25px;
     z-index: 10001;
}
.navbar-right li {
     padding-bottom: 0;
     padding-top: 0px;
}
.navbar .navbar-right li a {
     color: #ffffff;
     font-family: "Signika", sans-serif;
     font-weight: 600;
     font-size: 15px;
     padding-top: 27px;
     padding-bottom: 10px;
     text-transform: uppercase;
     position: relative;
     display: block;
}
.navbar .navbar-right li a:hover{
	 background-color: none;
     color: #5f73d5;
	 transition:1s;
	 -webkit-transition: all 0.5s ease-in-out;
	 -moz-transition: all 0.5s ease-in-out;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
     background-color: none;
     color: #5f73d5;
}
.navbar-inverse .navbar-brand {
     border: 2px solid #5f73d5;
     color: #fff;
     font-family: 'Dancing Script', cursive;
     font-size: 26px;
     font-weight: 700;
     margin-top: 10px;
     padding: 16px 35px;
     text-transform: uppercase;
     margin-bottom: 8px;
} 
.top-nav-collapse {
     background-color: #121111;
     padding-bottom: 10px;
     padding-top: 10px;
}
a:hover {
     text-decoration: none;
}
a:focus {
     outline: 0 solid;
}
.header-text{
	 color: #fff;
	 font-size: 60px;
	 text-align: center;
	 margin:100px 0px auto;
}
.header-text h1 {
     font-family: 'Signika', sans-serif;
     font-size: 72px;
     font-weight: 700;
     color: #fff;
     text-align: center;
     margin-bottom: 20px;
}
.header-text h1 span{
     font-family: 'Signika', sans-serif;
     font-size: 72px;
     font-weight: 700;
     color: #5f73d5;
     text-align: center;
     margin-bottom: 20px;
}
.header-text p {
     font-family: 'Roboto', sans-serif;
	 font-size: 18px;
     font-weight: 400;
     color: #fff;
     text-align:center;
	 margin-bottom: 50px;
}
.header-text button.btn1 {
     background: #5f73d5;
     font-family: 'Signika', sans-serif;
     font-size: 32px;
     font-weight: 700;
     color: #fff;
     border: none;
     padding: 10px 30px;
	 border:1px solid #5f73d5;
}
.header-text button.btn1:hover{
     background: #fff;
     font-family: 'Signika', sans-serif;
     font-size: 32px;
     font-weight: 700;
     color: #5f73d5;
     border: none;
     padding: 10px 30px;
	 border:1px solid #5f73d5;
	 transition: all 0.5s ease-in-out;
	 -webkit-transition: all 0.5s ease-in-out;
	 -moz-transition: all 0.5s ease-in-out;
}
.header-text button.btn2 {
     background: #fff;
     font-family: 'Signika', sans-serif;
     font-size: 32px;
     font-weight: 700;
     color: #5f73d5;
     border: none;
     padding: 10px 30px;
	 border:1px solid #5f73d5;
}
.header-text button.btn2:hover{
     background: #5f73d5;
     font-family: 'Signika', sans-serif;
     font-size: 32px;
     font-weight: 700;
     color: #fff;
     border: none;
     padding: 10px 30px;
	 border:1px solid #5f73d5;
	 transition: all 0.5s ease-in-out;
	 -webkit-transition: all 0.5s ease-in-out;
	 -moz-transition: all 0.5s ease-in-out;
}

/*================================================
             4. ABOUT SECTION
==================================================*/
.about-section {
     background: #f4f7f9;
     padding-top: 50px;
     padding-bottom:70px;
}
.about-heading h2 {
     color: #5f73d5;
     font-size: 36px;
     font-family: 'Signika', sans-serif;
     font-weight: 600;
     text-align: center;
     text-transform: uppercase;
	 padding-bottom:0px;
}
.about-heading hr {
     border-top: 3px solid #5f73d5;
     width: 5%;
     display: block;
     margin: 0px auto;
     padding-bottom: 70px;
}
.about-text h4{
     color: #444;
	 font-size: 24px;
     line-height: 28px;
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     padding-bottom: 20px;
	 margin-top:0px;
}
.about-text p {
     color: #444;
	 font-size: 16px;
     line-height: 28px;
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     padding-bottom: 20px;
}
.about-text button{
	background:#5f73d5;
	border:none;
	padding:8px 15px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	text-transform:uppercase;
	border:1px solid #5f73d5;
	margin-right:20px;
	font-size:20px;
}
.about-text button:hover{
	background:#fff;
	border:none;
	color: #5f73d5;
	padding:8px 15px;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	font-size:20px;
	text-transform:uppercase;
	border:1px solid #5f73d5;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
}
.about-img img {
    padding-bottom: 20px;
	width:100%;
}

/*================================================
             5. SERVICES SECTION
==================================================*/
.service-section {
     padding-top: 50px;
     padding-bottom: 40px;
}
.service-heading h2 {
     color: #5f73d5;
     font-size: 36px;
     font-family: 'Signika', sans-serif;
     font-weight: 600;
     text-align: center;
     text-transform: uppercase;
	 padding-bottom:0px;
}
.service-heading hr {
     border-top: 3px solid #5f73d5;
     width: 5%;
     display: block;
     margin: 0px auto;
     padding-bottom:70px;
}
.service-icon{
	text-align:center;
}
.service-icon i{
	 background:#5f73d5;
     font-size: 36px;
     color: #fff;
     padding: 12px;
     border-radius: 30px;
	 border:1px solid #5f73d5;
     margin-top: 13px;
}
.service-icon i:hover{
	background:#fff;
	color:#5f73d5;
	border:1px solid #5f73d5;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
}
.service-content {
	 padding-bottom: 30px;
}
.service-text h3 {
     color: #5f73d5;
     font-size: 20px;
     font-family: 'Signika', sans-serif;
     font-weight: 600;
	 text-align:center;
	 padding-bottom:10px;
}
.service-text p {
     color: #444;
	 font-size: 16px;
     line-height: 28px;
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
	 text-align:center;
}

/*================================================
             6. PORTFOLIO SECTION
==================================================*/
.portfolio-section {
     background: #f4f7f9 none repeat scroll 0 0;
     padding-bottom: 55px;
     padding-top: 50px;
}
.portfolio-heading h2 {
     color: #5f73d5;
     font-size: 36px;
     font-family: 'Signika', sans-serif;
     font-weight: 600;
     text-align: center;
     text-transform: uppercase;
	 padding-bottom:0px;
}
.portfolio-heading hr {
     border-top: 3px solid #5f73d5;
     width: 5%;
     display: block;
     margin: 0px auto;
     padding-bottom: 70px;
}
.portfolio-wrapper .mix{
	 display:none;
}
.single-work {
     margin-bottom: 25px;
}
.single-work img {
     border-radius: 0px;
     width: 100%;
     height: auto;
}
.single-work a {
     overflow: hidden;
     position: relative;
     display: block;
}
.mfp-image-holder .mfp-content {
     max-width: 100%;
     margin-top: 70px;
}
.itemHovernew {
     position: absolute;
     top: 0;
     width: 100%;
     height: 100%;
     padding-right: 20px;
     opacity: 0;
     background: rgba(0, 0, 0, 0.85);
	 transition: all 0.5s ease-in-out;
	 -webkit-transition: all 0.5s ease-in-out;
	 -moz-transition: all 0.5s ease-in-out;
	 padding-top:28%;
}
.single-work a:hover .itemHovernew {
     opacity: 0.9;
     background-color: #5f73d5;
}
.hover-content h3 {
     text-align: center;
     font-size: 20px;
     font-family: 'Signika', sans-serif;
     font-weight: 600;
	 color:#fff;
}
.hover-content h6 {
     text-align: center;
     font-size: 16px;
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
	 color:#fff;
}
.filter-button-group ul {
     text-align: center;
     margin-bottom: 50px;
	 padding-left:0px;
}
.filter-button-group ul li {
     background: none;
     display: inline-block;
     color: #444;
	 border:1px solid #5f73d5;
     font-size: 16px;
     font-family: 'Signika', sans-serif;
     font-weight: 400;
     padding: 10px 40px 10px 40px;
     transition: 1s;
}
.filter-button-group ul li:hover {
     color: #fff;
     background: #5f73d5;
     border-radius: 0px;
     cursor: pointer;
}
.filter-button-group li.active {
     background: #5f73d5;
     color: #fff;
     font-size: 16px;
     font-family: 'Signika', sans-serif;
     font-weight: 400;
}

/*================================================
             7. TESTIMONIAL SECTION
==================================================*/
.testimonials-section {
	 padding-top: 50px;
     padding-bottom: 90px;
}
.testimonials-heading h2 {
     color: #5f73d5;
     font-size: 36px;
     font-family: 'Signika', sans-serif;
     font-weight: 600;
     text-align: center;
     text-transform: uppercase;
	 padding-bottom:0px;
}
.testimonials-heading hr {
     border-top: 3px solid #5f73d5;
     width: 5%;
     display: block;
     margin: 0px auto;
     padding-bottom: 60px;
}
.carousel-indicators{
	 margin-top:150px;
	 bottom:-50px;
}
.carousel-indicators li {
     background: #c0c0c0;
}
.carousel-indicators .active {
     background: #5f73d5;
     height:10px;
     width:10px;
     margin-bottom:1px;
}
.carousel-inner{
	 text-align:center;
}
.carousel-inner .item img {
     border-radius: 100px;
     box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     display: block;
     margin: 7px auto 30px;
}
.carousel-inner .item h4 {
     color: #5f73d5;
     font-family: "Signika",sans-serif;
     font-size: 24px;
     font-weight: 600;
	 padding-top:10px;
     padding-bottom: 10px;
     text-align: center;
}
.carousel-inner .item h5{
     color: #323232;
     font-family: "Roboto",sans-serif;
     font-size: 20px;
     font-weight: 400;
     padding-bottom: 10px;
     text-align: center;
}
.carousel-inner .item p {
     color: #444;
     font-family: "Roboto",sans-serif;
     font-size: 16px;
     font-weight: 400;
     line-height: 28px;
     text-align:center;
}
.carousel-inner .item i{
	 color:#5f73d5;
}

/*================================================
             8. TEAM SECTION
==================================================*/
.team-section {
	 background:#f4f7f9;
	 padding-top: 50px;
     padding-bottom: 70px;
}
.team-heading h2 {
     color: #5f73d5;
     font-size: 36px;
     font-family: 'Signika', sans-serif;
     font-weight: 600;
     text-align: center;
     text-transform: uppercase;
	 padding-bottom:0px;
}
.team-heading hr {
     border-top: 3px solid #5f73d5;
     width: 5%;
     display: block;
     margin: 0px auto;
     padding-bottom: 70px;
}
.members-image{
	 position:relative;
}
.members-image img{
	 width:100%;
}
.members-image .overlay{
     position: absolute;
     bottom: 0;
     left:100%;
     right: 0;
     background:rgba(95,115,213,0.7);
     overflow: hidden;
     width:0;
     height: 100%;
     transition: .5s ease;
	 text-align:center;
	 display:inline-block;
	 padding-top:38%;
}
.members-image:hover .overlay {
     width: 100%;
     left: 0;
}
.team-members .overlay h4 {
     color: #fff;
     font-family: "Signika",sans-serif;
     font-size: 24px;
     font-weight: 600;
     padding-bottom: 10px;
}
.team-members .overlay h5 {
     color: #fff;
     font-family: "Roboto",sans-serif;
     font-size: 20px;
     font-weight: 400;
     padding-bottom: 10px;
}
.team-members .overlay a{
	 color:#fff;
	 font-size:21px;
	 padding-left:5px;
	 padding-right:5px;
}

/*================================================
             9. CONTACT SECTION
==================================================*/
.contact-section {
	 padding-top: 50px;
     padding-bottom: 70px;
}
.contact-heading h2 {
     color: #5f73d5;
     font-size: 36px;
     font-family: 'Signika', sans-serif;
     font-weight: 600;
     text-align: center;
     text-transform: uppercase;
	 padding-bottom:0px;
}
.contact-heading hr {
     border-top: 3px solid #5f73d5;
     width: 5%;
     display: block;
     margin: 0px auto;
     padding-bottom: 70px;
}
.contact-map .map{
	 width:100%;
	 height:420px;
	 border:none;
}
.contact-form .form-control {
     border: 2px solid #5f73d5;
     border-radius: 0px;
     margin-bottom: 15px;
     height: 50px;
     color: #062033;
     font-family: "Roboto", sans-serif;
     font-size: 16px;
     font-weight: 400;
}
.contact-form #contact-message {
     height: 240px;
}
.contact-form .form-control::-webkit-input-placeholder {
     /* Chrome/Opera/Safari */
     color: #073557;
}
.contact-form .form-control::-moz-placeholder {
     /* Firefox 19+ */
     color: #073557;
}
.contact-form .form-control:-ms-input-placeholder {
     /* IE 10+ */
     color: #073557;
}
.contact-form .form-control:-moz-placeholder {
     /* Firefox 18- */
     color: #073557;
 }
.contact-btn-wrapper {
     float: right;
}
.contact-form .button-reset {
	  background: #5f73d5;
	  border: medium none;
	  color: #fff;
	  border:1px solid #5f73d5;
	  font-family: "Roboto",sans-serif;
	  font-size: 18px;
	  font-weight: 400;
	  margin-top: 10px;
	  padding: 5px 15px;
	  transition: all 1s ease 0s;
}
.contact-form .button-reset:hover {
	  background:none;
	  border:medium none;
	  color:#5f73d5;
	  border:1px solid #5f73d5;
	  font-family: "Roboto",sans-serif;
	  font-size: 18px;
	  font-weight:400;
	  margin-top:10px;
	  padding: 5px 15px;
	  transition: all 1s ease 0s;
}
.contact-form .button-send {
	  background:#5f73d5;
	  border:medium none;
	  color:#fff;
	  border:1px solid #5f73d5;
	  font-family: "Roboto",sans-serif;
	  font-size: 18px;
	  font-weight: 400;
	  margin-top: 10px;
	  padding: 5px 15px;
	  transition: all 1s ease 0s;
	  margin-left:10px;
}
.contact-form .button-send:hover {
	  background:none;
	  border: medium none;
	  color: #5f73d5;
	  border:1px solid #5f73d5;
	  font-family: "Roboto",sans-serif;
	  font-size: 18px;
	  font-weight: 400;
	  margin-top: 10px;
	  padding: 5px 15px;
	  transition: all 1s ease 0s;
}
.contact-form input.error{
	 border:2px solid #F00;
}
.contact-form textarea.error{
	 border:2px solid #F00;
}
.contact-form .error{
	 font-family: "Roboto",sans-serif;
	 font-size:18px;
	 font-weight:600;
	 color:#F00;
}
 
/*================================================
             10. FOOTER SECTION
==================================================*/ 
.footer-section {
     background: #393939 none repeat scroll 0 0;
     padding-bottom: 50px;
     padding-top: 70px;
}
.footer-text .social-icon{
	 padding-bottom:30px;
	 text-align:center;
	 margin-left:-10px;
}
.footer-text .social-icon a {
	 background:#5f73d5;
     border: 2px solid #5f73d5;
     color: #fff;
     font-size: 21px;
     margin-left: 5px;
	 margin-right:5px;
	 padding:10px;
     transition: all 0.5s ease-in-out 0s;
}
.footer-text .social-icon a:hover{
	 background:#fff;
     border: 2px solid #5f73d5;
     color: #5f73d5;
     font-size: 21px;
     margin-left: 5px;
	 margin-right:5px;
	 padding:10px;
}
.footer-text p {
     color: #5f73d5;
     font-family: "Roboto", sans-serif;
     font-size: 18px;
     font-weight: 400;
     text-align: center;
}
.footer-text p span{
     color: #fff;
     font-family: "Roboto", sans-serif;
     font-size: 18px;
     font-weight: 600;
     text-align: center;
}