body
{ font-size:11px;
	
}

div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
    }
	
	.form-group {
    margin-bottom: 5px;
	
	
}

.table{text-align:left;}

.form-group {text-align:left;}