body
{ font-size:10px;
	
}




.navbar {
	
	min-height:30px;
	 margin-bottom: 0px;;
}

.navbar-inverse .navbar-nav > li > a{
	color:#ffffff;
}
.navbar-inverse .navbar-nav > li > a:hover{
	color:#000000;
	background-color:#ffffff;
}
.navbar-nav > li > a{
	padding-top:5px;
	padding-bottom:5px;
	
}

.sidenav {
	
	background-color:rgb(34, 173, 211);
	 height: 100%;
}




.sidenav-menu ul li {
	
	color:#ffffff;
	background-color:rgb(4, 52, 75);
	
	list-style-type: none;
	padding-left:5px;
	padding-top:10px;
	padding-bottom:10px;
}

.sidenav-menu ul li:hover {
	background-color:#ffffff;
	color:#000000;

}
.table{text-align:left;}

.form-group {text-align:left;}


