
/*dots*/

	#Profile {
	  position: absolute;
	  margin: auto;
	  top: 0; right: 0; bottom: 0; left: 0;
	  width: 100%; height: 100%;
	  border-radius: 150px;

	}


/*endofdots*/

/*profile layout*/

	::-moz-placeholder {
		color: #666;
		font-weight: 300;
		opacity: 1;
	}

	::-webkit-input-placeholder {
		color: #666;
		font-weight: 300;
	}

	.grid .col2 {
		width: 50%;
		padding: 0 10px 0 0;
	}
	.grid .col2.first {
		float: left;
	}
	.grid .col2.last {
		float: right;
	}

	/* profile page */

	.innerwrap {
	    width: 90%;
	    margin: 0 auto;
	}

	.section1 {
		background: transparent;
		position: relative;
		border-radius: 2px;
		margin-top: 10px;
	}

	.section1 .col2.first img {
		border-radius: 50%;
		margin: 0 20px;
		width: 120px;
		border:2px solid #f1f1f1;
		padding: 2px;
		float: left;
	}

	section.section2 {
	    margin: 50px 0;
	}

	.section2 .col3 {
	
		margin-right: 60px;
		background: #fff;
		border-radius: 2px;
	}

	.section2 .profileinfo {
	    text-align: center;
	    padding: 0 10px 30px;
	    color: #555;
	    font-size: 14px;
	    line-height: 25px;
	}
	.section2 .profileinfo img {
	    border-radius: 50%;
	    width: 80px;
	    padding: 2px;
	    border: 3px solid #6AAFEA;
	    margin-top: -48px;
	    margin-bottom: 18px;
	}


/*profile layout*/
	
