.modal-dialog{
    margin: 80px auto;
}
.align-c{
    text-align: center;
}

.agate-settings-edit_campaign td .form-group{
	margin-bottom: 0;
}

.mb-cursor{
	cursor: pointer;
}
.agate-settings-deactivate input{
	cursor: pointer;
}