<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ADVERSE EVENT REPORT</title>

    <!-- Bootstrap -->
<!--  -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body>
<style>
  input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
  }

 input.noborder {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 0;
  }

  div.border {
      border: 1px solid black;
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
  }

  div.padding {
      padding-top: 40px;
      padding-right: 65px;
      padding-bottom: 40px;
      padding-left: 60px;
  }

  h2.space {
    line-height: .25;
  }

  p.ind {
    text-indent: 50px;
    line-height: .1;
  }

</style>

<div class="padding">

  <div align="center">
    <h2 class="space">Otsuka (Philippines) Pharmaceutical, Inc.</h2>
    <h3>Safety Report Form</h3>
  </div>

  <div align="right">
    <form method="post" action="{{route('otsuka.pv')}}" enctype="multipart/form-data">
      {{ csrf_field() }} 
      <br><b>Date of First Receipt (DFR) </b> <input type="date" name="dfr"/><br><br>
      }
  </div>

  <div class="border">
    <div>
      <h4>A. PATIENT INFORMATION (PLEASE FILL-UP ALL INFORMATION)</h4>

      <table style="width: 100%">
        <tr align="left">
          <th>1. Patient's Initials</th>
          <th>2. Date of Birth</th> 
          <th>3. Age</th>
          <th>4. Weight (kg)</th>
          <th>5. Height (cm)</th>
          </tr>

          <tr align="left">
            <td>
                <input type="text" name="first_name" maxlength="3" size="2" step="3" placeholder="First">
                <input type="text" name="middle_name" maxlength="1" size="2" placeholder="Middle">
                <input type="text" name="last_name" maxlength="1" size="1" placeholder="Last">
            </td>

            <td>
              <input type="date" name="birthdate">
            </td>

            <td>
              <input type="number" name="age" min="0" max="999">
            </td>

            <td>
              <input type="number" name="weight" min="0" max="999">
            </td>

            <td>
              <input type="number" name="height" min="0" max="999">
            </td>
        </tr>
      </table>


      <p><b>6. Gender: <label class="radio-inline"><input type="radio" name="gender" value="Male">M</label><label class="radio-inline"><input type="radio" name="gender" value="Female">F</label>, 
      is the patient pregnant? </b><label class="radio-inline"><input type="radio" name="pregnant" value="Yes">Yes</label><label class="radio-inline"><input type="radio" name="pregnant" value="No">No</label>
      <hr>
    </div>

    <div>
      <h4>B. SAFETY INFORMATION</h4>

      <table style="width: 100%">
        <tr align="left">
          <th>1. Date of this report 
            <input type="date" name="reportdate">
          </th>

          <th>2. Onset Date 
            <input type="date" name="onsetdate">
          </th> 

          <th>3. Report Type &nbsp;
            <label class="radio-inline"><input type="radio" name="report_type" value="Initial">Initial</label>
            <label class="radio-inline"><input type="radio" name="report_type" value="Follow-up">Follow</label>
         </th>
        </tr>
      </table>

      <p><b>4. Source: 
            <label class="radio-inline"><input type="radio" name="source" value="Solicited">Solicited<i>(specify Title of Study) </i><input type="text" name="titlestudy" size="35"></label>
            <label class="radio-inline"><input type="radio" name="source" value="Spontaneous">Spontaneous</label>

      <p><b>5. Seriousness Criteria </b><i>(check all that apply)</i></p>

      <table style="width: 100%">
        <tr align="left">
          <th><input type="checkbox" name="death" value="1"><span style="font-weight: normal;">Death</span></th>
          <th><input type="checkbox" name="lifethreatening" value="1"><span style="font-weight: normal;">Life Threatening</span></th>
          <th><input type="checkbox" name="hospitalization" value="1"><span style="font-weight: normal;">Hospitalization</span></th>
          <th><input type="checkbox" name="congenitalanomaly" value="1"><span style="font-weight: normal;">Congenital anomaly</span></th>
          <th><input type="checkbox" name="disabilityincapacity" value="1"><span style="font-weight: normal;">Disability/Incapacity</span></th>
        </tr>

        <tr align="left">
          <th><input type="checkbox" name="medicallysignificant" value="1"><span style="font-weight: normal;">Medically Significant </span></th>
          <th><input type="checkbox" name="nonserious" value="1"><span style="font-weight: normal;">Non-Serious </span></th>
          <th><input type="checkbox" name="notreported" value="1"><span style="font-weight: normal;">Not reported </span></th>
        </tr>
      </table>

        <p><b>6. Describe Safety Information (e.g. Adverse Event, Off-Label Use, Lack of Efficacy, etc.)</b></p>
        <textarea name="safety_information" style="width:900px; height:100px;"></textarea>
        <br>

        <p><b>7. Were any medicines taken or procedures done to treat the event related to Item no. 6? (If available)</b></p>
        <textarea name="medicines_taken" style="width:900px; height:100px;"></textarea>
        <br>

      <p>
        <b>8. What is the Outcome?</b>
            <label class="radio-inline"><input type="radio" name="outcome" value="Fatal">Fatal</label>
            <label class="radio-inline"><input type="radio" name="outcome" value="Resolved">Resolved</label>
            <label class="radio-inline"><input type="radio" name="outcome" value="Resolved with sequelae">Resolved with sequelae</label>
            <label class="radio-inline"><input type="radio" name="outcome" value="Not Resolved">Not Resolved</label>
            <label class="radio-inline"><input type="radio" name="outcome" value="Unknown">Unknown</label>
        <br>
        <p style="margin-left: 30px;">8.1. If the event was resolved, kindly provide the date the patient recovered from the event:
        <input type="date" name="outcome_date"></p>
      </p>
      
      <p>
        <b>9. Is the adverse event related to the drug?</b> (Reporter’s Causality)&nbsp;
            <label class="radio-inline"><input type="radio" name="related" value="Yes">Yes</label>
            <label class="radio-inline"><input type="radio" name="related" value="No">No</label>
            <label class="radio-inline"><input type="radio" name="related" value="Not assessable">Not assessable</label>
      </p>

      <p>
        <b>10. Is the adverse event expected by the patient? </b>
            <label class="radio-inline"><input type="radio" name="expected" value="Yes">Yes</label>
            <label class="radio-inline"><input type="radio" name="expected" value="No">No</label>
            <label class="radio-inline"><input type="radio" name="expected" value="Not assessable">Not assessable</label>
      </p>

      <table class="display" style="width: 100%" border=".5">
        <tr>
          <th align="left">11. Suspect Medication <br><span style="font-weight: normal;">(Please indicate strength and<br> manufacturer if known)</span></th>
          <th>Indication for which drug <br>is given</th>
          <th>Dose, Frequency and <br>Route</th>
          <th>Start Date</th>
          <th>Stop Date</th>
        </tr>

        <tr>
          <td>1. <input class="noborder" type="text" name="input01"></td>
          <td> <input class="noborder" type="text" name="input02"></td>
          <td> <input class="noborder" type="text" name="input03"></td>
          <td> <input class="noborder" type="date" name="input04"></td>
          <td> <input class="noborder" type="date" name="input05"></td>
        </tr>

        <tr>
          <td>2. <input class="noborder" type="text" name="input1"></td>
          <td> <input class="noborder" type="text" name="input2"></td>
          <td> <input class="noborder" type="text" name="input3"></td>
          <td> <input class="noborder" type="date" name="input4"></td>
          <td> <input class="noborder" type="date" name="input5"></td>
        </tr>
      </table>
    </div>

    <hr>

    <div>
       <h4>C. REPORTER</h4>
       <table>
        <tr>
          <td>1. Name <input type="text" name="reporter_name" size="40"></td>
          <td> Address/Contact details: <input type="text" name="reporter_address" size="50"></td>
        </tr>

        <tr>
          <td>2. Health Profession <input type="text" name="healthprof" size=25></td>
        </tr>
       </table>

       <table style="width: 100%">
        <tr>
          <td>3. Reported through </td>
            <td><label class="radio-inline"><input type="radio" name="reported_through" value="Fax">Fax</label></td>
            <td><label class="radio-inline"><input type="radio" name="reported_through" value="Telephone">Telephone</label></td>
            <td><label class="radio-inline"><input type="radio" name="reported_through" value="PSR">PSR</label></td>
          <td><input type="text" name="psrinput" size="25"></td>
          <td>4. Date Reported <input type="date" name="date_reported"> </td>
        </tr>

        <tr>
          <td>4. Did the reporter consent to follow up contact?</td>
            <td><label class="radio-inline"><input type="radio" name="consent_follow" value="Yes">Yes</label></td>
            <td><label class="radio-inline"><input type="radio" name="consent_follow" value="No">No</label></td>
        </tr>
      </table>

      <table>
        <tr>
          <td>5. Did the reporter consent to provide reporting information to Otsuka Contractor?</td>
            <td><label class="radio-inline"><input type="radio" name="consent_provide" value="Yes">Yes</label></td>
            <td><label class="radio-inline"><input type="radio" name="consent_provide" value="No">No</label></td>
        </tr>
      </table>

      <p><i>Note to the reporter: Please be informed that this case might be reported to Global Otsuka and local regulatory authority
      according to Otsuka requirements and local regulation, but rest assured that personal information will be highly protected.</i></p>
    </div>

    <div>
      <h4>D. OTSUKA (PHILIPPINES) PHARMACEUTICAL INC. USE ONLY</h4>
      <p>1. Date Received by LSM
        <input type="date" name="datereceived"></p>
    </div>
  </div>

  <div align="center">
    <p><i><b>(Please fax accomplished report at 811-2279 or send via e-mail at oppi-pv@otsuka.com.ph)</b></i></p>
  </div>

  <div>
    <p align="left">Version 7.0</p>
    <p align="right">December 2017</p>
  </div>

  <div>
    <button class="btn btn-primary pull-right">Submit</button>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <!-- Include all compiled plugins (below), or include individual files as needed -->
  </body>
</html>