.table-bordered thead tr th{
    padding: 5px;    
}
.table-bordered tbody tr td, .table-bordered tbody tr th{
    padding: 5px;
}
.card .body{
    font-size: 12px;
}
.block-header h2{
    font-size: 14px;
}
.card .header h2{
    font-size: 12px;
}
.c-pointer{
    cursor: pointer;
}

.btn-group, .btn-group-vertical{
	margin: 0px;
}
.btn:not(.btn-link):not(.btn-circle){
	font-size: 10px;
}
td .btn.btn-default.waves-effect, td .btn.btn-default.dropdown-toggle{
	padding: 5px;
}
td .btn.btn-default.btn-circle.waves-effect.waves-circle.waves-float{
	padding: 0;
	margin: 0;
	height: 25px;
	width: 25px;
}
td .btn.btn-default.btn-circle.waves-effect.waves-circle.waves-float i{
	top: -4px;
}
.modal-backdrop.fade.in{
	z-index: 0;
}